.scroll-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* Hide scrollbar for IE, Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  